<template>
  <v-card raised class="black mx-auto" max-width="330">
    <v-img
      class="red--text darken-5 align-end"
      height="320px"
      v-bind:src="require('@/assets/' + img + '')"
    ></v-img>

    <v-card-subtitle class="text-uppercase white--text pb-0 font-weight-bold">{{name}}</v-card-subtitle>

    <v-card-text class="white--text darken-5 align-end">
      <div>{{dep}}</div>
        <span class="red--text red-darken-1 font-weight-bold">ANKA -</span>
        <ul>
          <li v-for="r in role" :key="r">{{r}}</li>
        </ul>
    </v-card-text>

    <v-card-actions>
      <v-btn icon color="red darken-1">
        <v-icon color="red darken-3">mdi-instagram</v-icon>
      </v-btn>

      <v-btn icon color="red darken-1">
        <v-icon color="red darken-3">mdi-linkedin</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "TeamCard",
  props: ["name", "dep", "role", "img"]
};
</script>