<template>
  <v-row align="center" justify="center">
    <v-col cols="12" md="6" lg="6" xl="6" xs="12">
      <v-row align="center" class="mb-5">
        <v-col align="center" color="black">
          <v-btn 
          href="https://www.instagram.com/ankamuhendisliktakimi/"
          icon>
            <v-icon x-large color="red darken-3">mdi-instagram</v-icon>
          </v-btn>
        </v-col>
        <v-col align="center" color="black">
          <v-btn
            href="https://www.linkedin.com/company/sel%C3%A7uk-anka-m%C3%BChendislik-tak%C4%B1m%C4%B1/"
            icon
          >
            <v-icon x-large color="red darken-3">mdi-linkedin</v-icon>
          </v-btn>
        </v-col>
        <v-col align="center" color="black">
          <v-btn href="https://www.youtube.com/channel/UCT1X5HeGccwzPao6-lIBPVg" icon>
            <v-icon x-large color="red darken-3">mdi-youtube</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col class="white--text">
          <p class="text-center overline">
            <strong class="red--text">ANKA</strong>, yenilikçi, özgün, yaratıcı Konya Teknik Üniversitesi mühendislik öğrencilerinin oluşturduğu bir topluluktur.
          </p>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" md="6" lg="6" xl="6" xs="12" align="center">
      <v-avatar class="mb-12" style="opacity: 1" size="220">
        <img src="../assets/pp.jpeg" alt="ANKA" />
      </v-avatar>
    </v-col>
  </v-row>
</template> 



<script>
export default {
  name: "HelloWorld",

  data: () => ({})
};
</script>
