<template>
  <v-row justify="start" class="mx-5 mb-5" align="start">
    <v-col cols="12">
      <v-row justify="start" align="start">
        <vue-typer
          class="sub-headline"
          :text="txt"
          :repeat="0"
          :pre-type-delay="500"
          :type-delay="70"
          :shuffle="false"
          initial-action="typing"
          @completed="typeCompleted"
          caret-animation="smooth"
        ></vue-typer>
      </v-row>
      <v-row v-show="toggle" justify="center" align="center">
        <v-btn class="transparent darken-4 white--text overline">
          CLICK HERE TO CALL
          <span class="red--text darken-3">JOINUS();</span>
        </v-btn>
      </v-row>
      <v-row v-show="toggle" justify="center" align="center">
        <span
          class="white--text overline"
        >related fields | #mechanic #robotics #self-driving-vehicles #AI #machinelearning</span>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
import { VueTyper } from "vue-typer";

export default {
  components: {
    VueTyper
  },

  mounted() {
    let text = "";
    for (var i = this.typeSwap.length - 1; i >= 0; i--) {
      text = this.typeSwap[i] + "\n" + text;
    }
    this.txt = text;
  },
  methods: {
    typeCompleted() {
      this.toggle = !this.toggle;
    },
  },
  data() {
    return {
      toggle: false,
      typeSwap: [
        "#include <greetings.h>",
        "#include <ktun.h>",
        "func start{",
        "// Hey, nasılsın? Kim olduğumuzu biliyor musun?",
        "// Biz bir takımız.. ",
        "// Bizler dinamik, özgün, yaratıcı mühendislik öğrencilerinin oluşturduğu bir topluluğuz.",
        "// Kendine güvenen, yaratıcı, çalışkan ve azimli yeni ekip arkadaşları arıyoruz! ",
        "// Bize yeni dönemde güç katmak ister misin?!",

        " ",
        " ",
        "    if(youBelieveYourself()){",
        "    joinUs();",
        "}"
      ],
      txt: " "
    };
  }
};
</script>
<style>
.vue-typer {
  font-family: monospace;
}
.vue-typer {
  font-family: monospace;
}
.vue-typer .custom.char.typed {
  color: white;
  background-color: transparent;
}

.vue-typer .custom.caret {
  display: none;
}
</style>


