<template>
  <v-navigation-drawer color="white" class="white--text" v-model="navToggle" absolute temporary>
    <v-list dense>
      <v-list-item v-for="i in items" :key="i" link>
        <v-list-item-icon>
          <v-icon class="red--text darken-4">{{ i.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-btn depressed style="background-color: transparent" @click="pushRoute(i.route)" class="overline red--text darken-4">{{ i.title }}</v-btn>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<script>
export default {
  name: "Navbar",

  data() {
    return {
      items: [
        { title: "ANASAYFA", icon: "mdi-circle", route: "/" },
        { title: "TAKIM", icon: "mdi-circle", route: "/team"},
        { title: "BASINDA BIZ", icon: "mdi-circle", route: "/press" },
        //  { title: "PROJELER", icon: "mdi-circle", route: "/projects" },
        { title: "BIZE KATIL", icon: "mdi-circle", route: "/joinus" }
      ],
      color: "red darken-4"
    };
  },
  methods:
  {
      pushRoute(route)
      {
          console.log(route)
          this.$router.push(route)
      }
  },
  props: ["navToggle"],
};
</script>