<template>
  <v-container class="ma-4">
    <v-row>
      <v-col cols="12" md="6" lg="6" xl="6" xs="12">
        <v-card class="elevation-23" color="red darken-4">
          <v-card-actions>
            <v-carousel dark cycle height="500" :show-arrows="true" show-arrows-on-hover>
              <v-carousel-item
                reverse-transition="fade-transition"
                transition="scroll-x-transition"
                v-for="i in urls"
                :key="i"
              >
                <v-img :eager="true" contain :aspect-ratio="1" :src="require('@/assets/' + i )"></v-img>
              </v-carousel-item>
            </v-carousel>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" md="6" lg="6" xl="6" xs="12">
        <v-container fill-height fluid>
          <v-row justify="center" align="center">
            <v-col cols="12">
              <p class="overline red--text darken-3 font-weight-bold" style="text-align: justify;">Biz kimiz?</p>
              <p class="overline white--text font-weight-bold" style="text-align: justify;">
                2015 yılında Konya Teknik Üniversitesi (Selçuk Üniversitesi),
                Mühendislik ve Doğa Bilimleri Fakültesi öğrencileri tarafından
                oluşturulan ve farklı alanlarda kendini geliştiren mühendis
                adayları ile mühendislik alanında yapılan proje ve
                yarışmalarda yer alarak ülkemiz adına nitelikli mühendis
                yetiştirmek amacıyla kurulmuştur.
              </p>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <!--<div>
      <v-radio-group class="white--text" row wrap>
        <v-switch dark v-model="alignTop" label="Toggle align-top" class="white--text mx-4"></v-switch>
        <v-switch dark v-model="dense" label="Toggle dense" class="white--text mx-4"></v-switch>
        <v-switch dark v-model="fillDot" label="Toggle fill-dot" class="white--text mx-4"></v-switch>
        <v-switch dark v-model="hideDot" label="Toggle hide-dot" class="white--text mx-4"></v-switch>
        <v-switch dark v-model="icon" label="Toggle icon" class="white--text mx-4"></v-switch>
        <v-switch dark v-model="avatar" label="Toggle avatar" class="white--text mx-4"></v-switch>
        <v-switch dark v-model="iconColor" label="Toggle icon color" class="mx-4"></v-switch>
        <v-switch dark v-model="reverse" label="Toggle reverse" class="mx-4"></v-switch>
        <v-switch dark v-model="left" label="Toggle left" class="mx-4"></v-switch>
        <v-switch dark v-model="right" label="Toggle right" class="mx-4"></v-switch>
        <v-switch dark v-model="small" label="Toggle small" class="mx-4"></v-switch>
      </v-radio-group>

      <v-timeline :align-top="alignTop" :dense="dense" :reverse="reverse">
        <v-timeline-item
          v-for="n in 3"
          :key="n"
          :fill-dot="fillDot"
          :hide-dot="hideDot"
          :icon="icon ? 'mdi-star' : ''"
          :icon-color=" iconColor ? 'deep-orange' : ''"
          :left="left"
          :right="right"
          :small="small"
        >
          <template v-slot:icon>
            <v-avatar v-if="avatar">
              <img src="http://i.pravatar.cc/64" />
            </v-avatar>
          </template>
          <span slot="opposite">Tus eu perfecto</span>
          <v-card class="elevation-2">
            <v-card-title class="headline">Lorem ipsum</v-card-title>
            <v-card-text>Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.</v-card-text>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </div>-->
  </v-container>
</template>
 
<script>
export default {
  name: "Press",
  data: () => ({
    urls: ["p1.jpeg", "p2.jpeg", "p3.jpeg", "p4.jpeg", "p5.jpeg"]
  })
};
</script>   
