<template>
  <div class="ma-12">
    <v-timeline :align-top="alignTop" :dense="dense" :reverse="reverse">
      <v-timeline-item
        v-for="n in projects"
        :key="n"
        :fill-dot="fillDot"
        :hide-dot="hideDot"
        :icon="icon ? 'mdi-circle' : ''"
        :icon-color=" iconColor ? 'red darken-3' : ''"
        :left="left"
        :right="right"
        :small="small"
      >
        <template v-slot:icon>
          <v-icon color="red darken-4">mdi-circle</v-icon>
        </template>
        <span class="white--text overline font-weight-black" slot="opposite">{{n.award}}</span>

        <v-card tile class="elevation-5 mx-auto" max-width="100%">
          <v-carousel cycle height="400" hide-delimiter-background show-arrows-on-hover>
            <v-carousel-item v-for="(p, idx) in n.pictures" :key="idx">
              <v-sheet height="100%">
                <v-row class="fill-height" align="center" justify="center">
                  <v-img 
                  contain
                  style="background-color: #000000"
                  :eager="true" :aspect-ratio="1" :src="require('@/assets/' + p)"></v-img>
                </v-row>
              </v-sheet>
            </v-carousel-item>
          </v-carousel>
          <v-card-title>
            <span class="overline red--text darken-4 font-weight-black">ANKA -</span>
            <v-spacer></v-spacer>
            <span
              class="overline red--text darken-4 font-weight-black"
            >{{n.year}} {{n.challengeName}}</span>
          </v-card-title>
          <v-card-text
            style="text-align: justify;"
            class="black-text font-weight-regular caption"
          >{{n.projectDesc}}</v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
</template>

<script>
export default {
  data: () => ({
    colors: [
      "indigo",
      "warning",
      "pink darken-2",
      "red lighten-1",
      "deep-purple accent-4"
    ],
    projects: [
      {
        projectDesc:
          "Efficiency Challenge Elektrikli Araç Yarışları 15. yılında, 70 takımın katılımıyla gerçekleştirildi. Görsel tasarım ödülünün sahibi ise estetik kabuk tasarımındaki başarıdan dolayı Konya Teknik Üniversitesi Anka Teknik takımı oldu. ",
        award: "EBABİL-2 ile görsel tasarım ve yaygınlaştırma ödülü",
        year: "2018-2019",
        challengeName: "Tubitak Efficiency Challenge",
        pictures: ["yr.png", "yr2.png"]
      },
      {
        award: "EBABİL-1 ile otonom kategorisinde 5.lik!",
        projectDesc:
          "Takımımız, Tubitak Efficiency Challenge yarışmasında EBABİL-1 ile katıldığı Otonom kategorisinde 5.lik elde etti!",
        year: "2017-2018",
        challengeName: "Tubitak Efficiency Challenge",
        pictures: ["yr.png", "yr2.png"]
      },
      {
        projectDesc:
          "TÜBİTAK UAV 2017’den elenen takımımız MEB Robot 2017 için 4 adet robot ile 3 farklı kategoride yarışmaya girmeyi hedefledi. 4 adet robottan 3 tanesi teknik kontrolü geçerken, yarışmada 2 robot teknik arıza nedeni ile derece alamadı. Diğer robotumuz MİNİ-SUMO kategorisinde 4 tur geçerek çeyrek finalde yarışmayı başardı. ",
        award: "Mini Sumo robotumuz ile çeyrek finale çıktık! ",
        year: "2016-2017",
        challengeName: "MEB Robot 2017",
        pictures: ["yr.png", "yr2.png"]
      },
      {
        projectDesc:
          "İlk olarak Marmara Robot Olimpiyatları’nda yarışılmıştır. Yeni kurulmuş bir takım için hemen sponsor bulunamaması ve güç şartlarda hazırlanılmış olması sebebiyle son anda yarışmaya katılım sağlanmış olup katılım sonucu Robotenis kategorisinde birincilik ve jüri Özel ödülü ile birlikte iki önemli ödül almayı başarmıştır. ",
        award:
          "Marmara Robot Olimpiyatları | Robotenis kategorisinde birincilik!",
        year: "2014-2015",
        challengeName: "Marmara Robot Olimpiyatları",
        pictures: ["marmara.png", "pp.jpeg"]
      }
    ],
    alignTop: false,
    avatar: true,
    dense: false,
    fillDot: false,
    hideDot: false,
    icon: false,
    iconColor: false,
    left: false,
    reverse: false,
    right: false,
    small: true
  })
};
</script>