<template>
  <v-container class="mx-5 mt-7">
    <v-row v-for="idx_out in (data.length)/3" :key="idx_out">
      <v-col cols="12" md="4" lg="4" xl="4" xs="12" v-for="idx_in in 3" :key="idx_in">
        <TeamVue
          v-if="idx_out == 1"
          :name="data[idx_in-idx_out].name"
          :img="data[idx_in-idx_out].img"
          :role="data[idx_in-idx_out].roles"
          :dep="data[idx_in-idx_out].dep"
        />
        <TeamVue
          v-if="idx_out == 2"
          :name="data[idx_in+idx_out].name"
          :img="data[idx_in+idx_out].img"
          :role="data[idx_in+idx_out].roles"
          :dep="data[idx_in+idx_out].dep"
        />
        <TeamVue
          v-if="idx_out == 3"
          :name="data[idx_in+idx_out+2].name"
          :img="data[idx_in+idx_out+2].img"
          :role="data[idx_in+idx_out+2].roles"
          :dep="data[idx_in+idx_out+2].dep"
        />
        <TeamVue
          v-if="idx_out == 4"
          :name="data[idx_in+idx_out+4].name"
          :img="data[idx_in+idx_out+4].img"
          :role="data[idx_in+idx_out+4].roles"
          :dep="data[idx_in+idx_out+4].dep"
        />
      </v-col>
    </v-row>
  </v-container>
</template>



<script>
import TeamVue from "./subcomponents/TeamCard.vue";
import members from "../models/members.js";

export default {
  name: "Team",
  components: { TeamVue },

  data: () => ({ data: members })
};
</script>
