<template>
  <v-app v-bind:style="{'background-color': bg.color}">
    <nav>
      <Navbar :navToggle="navToggle"></Navbar>
    </nav>
    <v-card class="overflow-hidden" tile>
      <v-app-bar fixed dense color="black" dark hide-on-scroll>
        <v-toolbar-title class="font-weight-black red--text">ANKA</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-app-bar-nav-icon @click.stop="toggle" class="white--text d-flex d-sm-none"></v-app-bar-nav-icon>

        <v-btn
          to="/"
          class="d-none d-sm-flex"
          v-on:click="changebg('black')"
          color="black"
          depressed
        >
          <v-icon color="red darken-3">mdi-circle-small</v-icon>
          <span style="font-size: 10px" class="font-weight-medium white--text">ANASAYFA</span>
        </v-btn>
        <v-btn
          to="/team"
          class="d-none d-sm-flex"
          v-on:click="changebg('black')"
          color="black"
          depressed
        >
          <v-icon color="red darken-3">mdi-circle-small</v-icon>
          <span style="font-size: 10px" class="font-weight-medium white--text">TAKIM</span>
        </v-btn>

        <v-btn
          to="/press"
          class="d-none d-sm-flex"
          color="black"
          v-on:click="changebg('black')"
          depressed
        >
          <v-icon color="red darken-3">mdi-circle-small</v-icon>
          <span style="font-size: 10px" class="font-weight-medium white--text">BASINDA BİZ</span>
        </v-btn>
        <v-btn
          to="/projects"
          class="d-none d-sm-flex"
          color="black"
          v-on:click="changebg('black')"
          depressed
        >
          <v-icon color="red darken-3">mdi-circle-small</v-icon>
          <span style="font-size: 10px" class="font-weight-medium white--text">PROJELER</span>
        </v-btn>
        <v-btn
          to="/joinus"
          class="d-none d-sm-flex"
          color="black"
          v-on:click="changebg('black')"
          depressed
        >
          <v-icon color="red darken-3">mdi-circle-small</v-icon>
          <span style="font-size: 10px" class="font-weight-medium white--text">BIZE KATIL</span>
        </v-btn>
      </v-app-bar>
    </v-card>
    <v-content>
      <v-container fill-height>
        <v-scroll-x-transition hide-on-leave>
          <router-view></router-view>
        </v-scroll-x-transition>
      </v-container>
    </v-content>
    <v-card tile>
      <v-footer color="black" absolute class="font-weight-tiny">
        <v-col cols="12" md="6" lg="6" xl="6" xs="12" class="text-left white--text overline">
          <span
            style="font-size: 5px; text-left"
            class="font-weight-bold red--text darken-3"
          >berkuguroglu</span>
        </v-col>
        <v-col cols="12" md="6" lg="6" xl="6" xs="12" class="text-right white--text overline">
          <span style="font-size: 7px;" class="red--text darken-3 text-left">
            {{ new Date().getFullYear() }} —
            ANKA TEKNIK
          </span>
          <span style="font-size: 7px;" class="ma-2">| Tüm hakları saklıdır.</span>
        </v-col>
      </v-footer>
    </v-card>
  </v-app>
</template>

<script>
import Navbar from "./components/Navbar.vue";

export default {
  name: "App",
  components: {
    Navbar
  },
  data() {
    return {
      items: [
        { title: "Dashboard", icon: "dashboard" },
        { title: "Account", icon: "account_box" },
        { title: "Admin", icon: "gavel" }
      ],
      navToggle: false,
      particle: true,
      bg: {
        color: "black"
      }
    };
  },
  mounted() {
    if (this.$router.currentRoute.path == "/")
      if (screen.width > 600) {
        console.log(screen.width);
        this.bg.color = "black";
      } else this.bg.color = "black";
    else return (this.bg.color = "black");
  },
  methods: {
    toggle() {
      console.log("toggle");
      this.navToggle = !this.navToggle;
    },
    changebg(val) {
      if (screen.width > 600) {
        console.log(screen.width);
        this.bg.color = val;
      } else this.bg.color = "black";
    }
  }
};
</script>
